*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}
#game{
    width: 408px;
    height: 408px;
    margin: 100px auto;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    
}
.box{
    width: 25%;
    height: 25%;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    background: white;
    
}
.box:active{
    transform: scale(.97);
    transition: transform .2s;
}

.box.flip{
    transform: rotateY(180deg);
}
.front-face,
.back-face{
    width: 100%;
    height: 100%;   
    backface-visibility: hidden;
    position: absolute;
}
.front-face{
    transform: rotateY(180deg);
}
button{
    position: absolute;
    top: 55%;
    left: 40%;
    cursor: pointer;
    padding: 10px;
    
}
p{
    position: absolute;
    left: 40%;
    top: 62%;
    font-size: 36px;
}













